* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

:root {
  --big-ring: #68e134;
  --small-ring: #6aaf69;
}

svg {
  cursor: pointer;
  top: 50%;
}

#big_ring {
  fill: var(--big-ring);
}

#small_ring {
  fill: var(--small-ring);
  visibility: hidden;
}

svg {
  transition: all ease;
  opacity: 1;
}

svg #big_ring #elipse1 {    
  transition: 0.1s;
}
svg #small_ring #elipse1_2 {
  transition: 0.15s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse1 {
  opacity: 0;
}
svg:hover #small_ring #elipse1_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse1 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse1_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse2 {    
  transition: 0.15s;
}
svg #small_ring #elipse2_2 {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse2 {
  opacity: 0;
}
svg:hover #small_ring #elipse2_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse2 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse2_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse3 {    
  transition: 0.2s;
}
svg #small_ring #elipse3_2 {
  transition: 0.25s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse3 {
  opacity: 0;
}
svg:hover #small_ring #elipse3_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse3 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse3_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse4 {    
  transition: 0.25s;
}
svg #small_ring #elipse4_2 {
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse4 {
  opacity: 0;
}
svg:hover #small_ring #elipse4_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse4 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse4_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse5 {    
  transition: 0.3s;
}
svg #small_ring #elipse5_2 {
  transition: 0.35s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse5 {
  opacity: 0;
}
svg:hover #small_ring #elipse5_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse5 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse5_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse6 {    
  transition: 0.35s;
}
svg #small_ring #elipse6_2 {
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse6 {
  opacity: 0;
}
svg:hover #small_ring #elipse6_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse6 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse6_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse7 {    
  transition: 0.4s;
}
svg #small_ring #elipse7_2 {
  transition: 0.45s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse7 {
  opacity: 0;
}
svg:hover #small_ring #elipse7_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse7 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse7_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse8 {    
  transition: 0.45s;
}
svg #small_ring #elipse8_2 {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse8 {
  opacity: 0;
}
svg:hover #small_ring #elipse8_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse8 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse8_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse9 {    
  transition: 0.5s;
}
svg #small_ring #elipse9_2 {
  transition: 0.55s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse9 {
  opacity: 0;
}
svg:hover #small_ring #elipse9_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse9 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse9_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse10 {    
  transition: 0.55s;
}
svg #small_ring #elipse10_2 {
  transition: 0.6s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse10 {
  opacity: 0;
}
svg:hover #small_ring #elipse10_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse10 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse10_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse11 {    
  transition: 0.6s;
}
svg #small_ring #elipse11_2 {
  transition: 0.65s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse11 {
  opacity: 0;
}
svg:hover #small_ring #elipse11_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse11 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse11_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse12 {    
  transition: 0.65s;
}
svg #small_ring #elipse12_2 {
  transition: 0.7s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse12 {
  opacity: 0;
}
svg:hover #small_ring #elipse12_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse12 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse12_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse13 {    
  transition: 0.7s;
}
svg #small_ring #elipse13_2 {
  transition: 0.75s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse13 {
  opacity: 0;
}
svg:hover #small_ring #elipse13_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse13 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse13_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse14 {    
  transition: 0.75s;
}
svg #small_ring #elipse14_2 {
  transition: 0.8s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse14 {
  opacity: 0;
}
svg:hover #small_ring #elipse14_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse14 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse14_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse15 {    
  transition: 0.8s;
}
svg #small_ring #elipse15_2 {
  transition: 0.85s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse15 {
  opacity: 0;
}
svg:hover #small_ring #elipse15_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse15 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse15_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse16 {    
  transition: 0.85s;
}
svg #small_ring #elipse16_2 {
  transition: 0.9s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse16 {
  opacity: 0;
}
svg:hover #small_ring #elipse16_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse16 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse16_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse17 {    
  transition: 0.9s;
}
svg #small_ring #elipse17_2 {
  transition: 0.95s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse17 {
  opacity: 0;
}
svg:hover #small_ring #elipse17_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse17 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse17_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse18 {    
  transition: 0.95s;
}
svg #small_ring #elipse18_2 {
  transition: 1.0s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse18 {
  opacity: 0;
}
svg:hover #small_ring #elipse18_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse18 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse18_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse19 {    
  transition: 1.0s;
}
svg #small_ring #elipse19_2 {
  transition: 1.05s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse19 {
  opacity: 0;
}
svg:hover #small_ring #elipse19_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse19 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse19_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse20 {    
  transition: 1.05s;
}
svg #small_ring #elipse20_2 {
  transition: 1.1s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse20 {
  opacity: 0;
}
svg:hover #small_ring #elipse20_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse20 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse20_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse21 {    
  transition: 1.1s;
}
svg #small_ring #elipse21_2 {
  transition: 1.15s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse21 {
  opacity: 0;
}
svg:hover #small_ring #elipse21_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse21 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse21_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse22 {    
  transition: 1.15s;
}
svg #small_ring #elipse22_2 {
  transition: 1.2s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse22 {
  opacity: 0;
}
svg:hover #small_ring #elipse22_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse22 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse22_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse23 {    
  transition: 1.2s;
}
svg #small_ring #elipse23_2 {
  transition: 1.25s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse23 {
  opacity: 0;
}
svg:hover #small_ring #elipse23_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse23 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse23_2 {
  visibility: hidden;
  opacity: 0;
}

svg #big_ring #elipse24 {    
  transition: 1.25s;
}
svg #small_ring #elipse24_2 {
  transition: 1.3s;
  visibility: hidden;
  opacity: 0;
}
svg:hover #big_ring #elipse24 {
  opacity: 0;
}
svg:hover #small_ring #elipse24_2 {
  visibility: visible;
  opacity: 1;
}
svg:not(:hover) #big_ring #elipse24 {
  opacity: 1;
}
svg:not(:hover) #small_ring #elipse24_2 {
  visibility: hidden;
  opacity: 0;
}

